/*
Author: jn_xyp (xiny13@mcmaster.ca)

The common style sheet for sites on 1xa3 server
*/

img.size-auto {
    max-width: 90%;
}

@keyframes rotating {
    100% {
        transform: rotate(360deg);
    }
}