body {
    display:flex;
}

* {
    font-size: 25px;
    color: #212529;
    font-family: Consolas, sans-serif;
    border-radius: 7px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
div {
    margin: 10px;
    padding: 1px;
}

button {
    border: 1px solid grey;
    background-color: #f8f9fa;
}

button:hover {
    border: 1px solid black;
    background: #d4d4d4;
}

.reversi-game td {
    border: 1px solid grey;
    width:50px;
    height:50px;
    text-align: center;
    font-size: 32px;
    overflow: hidden;
}

.hilighted-block {
    background: #e2e2e2;
}

.reversi-game td:hover {
    border: 1px solid #000000;
    background: #d4d4d4;
}

.reversi-log {
    font-size: 16px;
    border: 1px solid grey;
    background-color: #f8f9fa;
    overflow-y: scroll;
    height: 10em;
}

.reversi-log {
    font-size: 16px;
}

.reversi-log i {
    font-size: 16px;
}

.reversi-log b,strong {
    font-size: 20px;
}