{% extends "forum/header_and_footer.html" %}

{% block content %}
    <div class="forum-bg" style="display: flex; flex-direction: row; flex-wrap: wrap-reverse">
        <div id="left" class="p-3" style="flex-grow: 5">
            {% for thread in object_list %}
                <div class="forum-card p-3 mb-2 bg-light">
                    <div>
                        <a href="{% url 'forum:thread' thread.id %}"
                           class="h4 text-dark">{{ thread.title }}
                            - {{ thread.author.user.username }}</a>
                    </div>
                    <div>{{ thread.posts.first.contents }}</div>
                    <hr class="m-1">
                    <span>Replies: <b>{{ thread.posts.all|length }}</b></span>
                    <span>Date Posted: <b>{{ thread.pub_date|date }}</b></span>
                </div>
            {% empty %}
                <p class="h3">No threads yet.</p>
            {% endfor %}
        </div>
        <div id="right" class="p-3" style="flex-grow: 1">
            <div id="category-info" class="forum-card p-3 mb-2 bg-light">
                <div>
                    <span class="h4 text-dark">{{ category.name }}</span>
                </div>
                <hr class="m-1">
                <div class="text-secondary">{{ category.description }}</div>
                <div>Total Posts: <b>{{ category.posts.all|length }}</b></div>
            </div>
            <div id="user-info" class="forum-card p-3 mb-2 bg-light">
                {% if user.is_authenticated %}
                    {% if user.forum_user %}
                        <div class="h4">{{ user.forum_user.nick_name }}</div>
                        <hr class="m-1">
                        <div style="display: flex; flex-direction: row; justify-content:space-around">
                            <div class="badge badge-secondary" style="flex-basis: 70px">
                                <span class="d-block text-center">Threads:</span>
                                <span class="d-block text-center">{{ user.forum_user.threads.all|length }}</span>
                            </div>
                            <div class="badge badge-secondary" style="flex-basis: 70px">
                                <span class="d-block text-center">Posts:</span>
                                <span class="d-block text-center">{{ user.forum_user.posts.all|length }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="secondary-title">Please activate your forum account</div>
                        <hr class="m-1">
                        <a class="btn btn-success btn-lg"
                           href="{% url 'forum:activate' %}?next={{ request.path }}"
                           role="button">Activate</a>
                    {% endif %}
                {% else %}
                    <div class="secondary-title">Please register or login</div>
                    <hr class="m-1">
                    <a class="btn btn-primary btn-lg"
                       href="{% url 'authorization:login' %}?next={{ request.path }}"
                       role="button">Login</a>
                    <a class="btn btn-success btn-lg"
                       href="{% url 'authorization:register' %}?next={{ request.path }}"
                       role="button">Register</a>
                {% endif %}
            </div>
            <div id="create-post" class="forum-card p-3 mb-2 bg-light">
                <a href="{% url 'forum:create_thread' %}?category_id={{ category.id }}"
                   class="btn btn-primary btn-lg btn-block">Start a Thread
                </a>
            </div>
        </div>
    </div>
{% endblock %}