{% extends "forum/header_and_footer.html" %}

{% block content %}
    <div class="forum-card p-3 mb-2 bg-light">
        <h2>Start a Thread</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="thread-category">Categories</label>
                <select class="form-control" id="thread-category" name="thread-category" required>
                    {% for category in categories %}
                        {% if category.id == category_id %}
                            <option value="{{ category.id }}"
                                    selected="selected">{{ category.name }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="thread-title">Thread Title</label>
                <input type="text" class="form-control" id="thread-title"
                       placeholder="Thread Title" required maxlength="100" name="thread-title">
            </div>
            <div class="form-group">
                <label for="thread-contents">Contents</label>
                <textarea class="form-control" id="thread-contents" rows="10" required
                          name="thread-contents"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" role="button" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}