{% extends "forum/header_and_footer.html" %}

{% block content %}
    <div class="forum-bg" style="display: flex; flex-direction: row; flex-wrap: wrap-reverse">
        <div id="left" class="p-3" style="flex-grow: 5">
            <div class="forum-card p-3 mb-2 bg-light h3">
                {{ thread.title }}
            </div>
            <div>
                {% for post in object_list %}
                    <div style="display: flex;">
                        <div class="forum-card p-3 mb-2 mr-2 bg-light"
                             style="flex-basis: 150px; min-height: 80px">
                            <div>
                                <a class="h5"
                                   href="{% url 'forum:user_info' post.author.user.id %}">{{ post.author.nick_name }}</a>
                            </div>
                            <hr class="m-1">
                            <span>{{ thread.pub_date|date }}</span>
                        </div>
                        <div class="forum-card p-3 mb-2 bg-light" style="flex-grow: 5">
                            <div><p>{{ post.contents|linebreaks }}</p></div>
                            <div>
                            <span class="float-right"><a
                                    href="{% url 'forum:create_reply' %}?thread-id={{ thread.id }}&reply-target-id={{ post.id }}"
                                    class="btn btn-secondary btn-sm">Reply
                            </a></span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="h3">No posts yet.</p>
                {% endfor %}
            </div>
        </div>
        <div id="right" class="p-3" style="flex-grow: 1">
            <div id="user-info" class="forum-card p-3 mb-2 bg-light">
                {% if user.is_authenticated %}
                    {% if user.forum_user %}
                        <div class="h4">{{ user.forum_user.nick_name }}</div>
                        <hr class="m-1">
                        <div style="display: flex; flex-direction: row; justify-content:space-around">
                            <div class="badge badge-secondary" style="flex-basis: 70px">
                                <span class="d-block text-center">Threads:</span>
                                <span class="d-block text-center">{{ user.forum_user.threads.all|length }}</span>
                            </div>
                            <div class="badge badge-secondary" style="flex-basis: 70px">
                                <span class="d-block text-center">Posts:</span>
                                <span class="d-block text-center">{{ user.forum_user.posts.all|length }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="secondary-title">Please activate your forum account</div>
                        <hr class="m-1">
                        <a class="btn btn-success btn-lg"
                           href="{% url 'forum:activate' %}?next={{ request.path }}"
                           role="button">Activate</a>
                    {% endif %}
                {% else %}
                    <div class="secondary-title">Please register or login</div>
                    <hr class="m-1">
                    <a class="btn btn-primary btn-lg"
                       href="{% url 'authorization:login' %}?next={{ request.path }}"
                       role="button">Login</a>
                    <a class="btn btn-success btn-lg"
                       href="{% url 'authorization:register' %}?next={{ request.path }}"
                       role="button">Register</a>
                {% endif %}
            </div>
            <div id="create-post" class="forum-card p-3 mb-2 bg-light">
                <a href="{% url 'forum:create_thread' %}?category_id={{ thread.category.id }}"
                   class="btn btn-primary btn-lg btn-block">Start new Thread
                </a>
                <a
                        href="{% url 'forum:create_reply' %}?thread-id={{ thread.id }}&reply-target-id={{ thread.posts.first.id }}"
                        class="btn btn-secondary btn-lg btn-block">Reply this Thread
                </a>
            </div>
        </div>
    </div>
{% endblock %}