{% extends "forum/header_and_footer.html" %}

{% block content %}
    <div class="forum-bg" style="display: flex; flex-direction: row; flex-wrap: wrap-reverse">
        <div id="left" class="p-3" style="flex-grow: 5; max-width: 80%">
            <div class="forum-card p-3 mb-2 bg-light">
                <h2>Threads</h2>
                {% for thread in threads %}
                    <div class="p-3 mb-2 bg-light">
                        <div>
                            <a href="{% url 'forum:thread' thread.id %}"
                               class="h4 text-dark">{{ thread.title }}
                                - {{ thread.author.user.username }}</a>
                        </div>
                        <div>{{ thread.posts.first.contents|linebreaks|slice:50 }}</div>
                        <hr class="m-1">
                        <span class="badge badge-success">{{ thread.category.name }}</span>
                        <span>Replies: <b>{{ thread.posts.all|length }}</b></span>
                        <span>Date Posted: <b>{{ thread.pub_date|date }}</b></span>
                    </div>
                {% empty %}
                    <p class="h3">No threads yet.</p>
                {% endfor %}
            </div>
            <div class="forum-card p-3 mb-2 bg-light">
                <h2>Posts</h2>
                {% for post in posts %}
                    {% with thread=post.parent_thread %}
                        <div class="p-3 mb-2 bg-light">
                            <div>
                                <a href="{% url 'forum:thread' thread.id %}"
                                   class="h5 text-dark">Re: {{ thread.title }}</a>
                            </div>
                            <div class="h5"><b>{{ post.contents|linebreaks|slice:100 }}</b></div>
                            <hr class="m-1">
                            <span>Date Posted: <b>{{ thread.pub_date|date }}</b></span>
                        </div>
                    {% endwith %}
                {% empty %}
                    <p class="h3">No posts yet.</p>
                {% endfor %}
            </div>
        </div>
        <div id="right" class="p-3" style="flex-grow: 1">
            <div id="user-info" class="forum-card p-3 mb-2 bg-light">
                <a href="{% url 'forum:user_info' current_user.id %}"
                   class="d-block"><span
                        class="h2 ">{{ current_user.forum_user.nick_name }}</span><span
                        class="float-right text-secondary">#{{ current_user.id }}</span></a>
                <hr class="m-1">
                <div style="display: flex; flex-direction: row" class="h5">
                    <div class="badge badge-success mr-2" style="flex-basis: 70px">
                        <span>Threads:</span>
                        <span>{{ current_user.forum_user.threads.all|length }}</span>
                    </div>
                    <div class="badge badge-success mr-2" style="flex-basis: 70px">
                        <span>Posts:</span>
                        <span>{{ current_user.forum_user.posts.all|length }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}