{% extends "authorization/header_and_footer.html" %}

{% block content %}
    {% with u=request.user %}
        <div class="p-3">
            {% if u.is_authenticated %}
                <div class="jumbotron mb-0">
                    <div class="m-1">
                        <h1 class="display-1 d-inline">{{ object.username }}</h1>
                        <h2 class="display-4 d-inline">#{{ object.id }}</h2>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Registered Email:</td>
                            <td>{{ object.email|default:"Not avaliable" }}</td>
                        </tr>
                        <tr>
                            <td>Last Login:</td>
                            <td>{{ object.last_login|date|default:"Not avaliable" }}</td>
                        </tr>
                        <tr>
                            <td>Date Joined:</td>
                            <td>{{ object.date_joined|date|default:"Not avaliable" }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary btn-lg" href="{% url 'authorization:logout' %}"
                       role="button">Logout</a>
                </div>
            {% else %}
                <div class="jumbotron mb-0">
                    <h1 class="display-4">Guest</h1>
                    <p class="lead">Welcome! Please login or register an account.</p>
                    <hr class="my-4">
                    <div>
                        <a class="btn btn-primary btn-lg" href="{% url 'authorization:login' %}"
                           role="button">Login</a>
                        <a class="btn btn-success btn-lg" href="{% url 'authorization:register' %}"
                           role="button">Register</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}